<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.cxis.agw.dao.mapper.ApiDOMapper">
  <resultMap id="BaseResultMap" type="me.cxis.agw.dao.model.ApiDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="version" jdbcType="SMALLINT" property="version" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="sys_id" jdbcType="BIGINT" property="sysId" />
    <result column="timeout" jdbcType="SMALLINT" property="timeout" />
    <result column="ip_control" jdbcType="TINYINT" property="ipControl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, created_time, modified_time, version, code, name, method, alias, sys_id, timeout, 
    ip_control
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from agw_api
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from agw_api
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="me.cxis.agw.dao.model.ApiDO">
    insert into agw_api (id, created_time, modified_time, 
      version, code, name, 
      method, alias, sys_id, 
      timeout, ip_control)
    values (#{id,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=SMALLINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{method,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{sysId,jdbcType=BIGINT}, 
      #{timeout,jdbcType=SMALLINT}, #{ipControl,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="me.cxis.agw.dao.model.ApiDO">
    insert into agw_api
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="method != null">
        method,
      </if>
      <if test="alias != null">
        alias,
      </if>
      <if test="sysId != null">
        sys_id,
      </if>
      <if test="timeout != null">
        timeout,
      </if>
      <if test="ipControl != null">
        ip_control,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=SMALLINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="sysId != null">
        #{sysId,jdbcType=BIGINT},
      </if>
      <if test="timeout != null">
        #{timeout,jdbcType=SMALLINT},
      </if>
      <if test="ipControl != null">
        #{ipControl,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.cxis.agw.dao.model.ApiDO">
    update agw_api
    <set>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=SMALLINT},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="sysId != null">
        sys_id = #{sysId,jdbcType=BIGINT},
      </if>
      <if test="timeout != null">
        timeout = #{timeout,jdbcType=SMALLINT},
      </if>
      <if test="ipControl != null">
        ip_control = #{ipControl,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.cxis.agw.dao.model.ApiDO">
    update agw_api
    set created_time = #{createdTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=SMALLINT},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      sys_id = #{sysId,jdbcType=BIGINT},
      timeout = #{timeout,jdbcType=SMALLINT},
      ip_control = #{ipControl,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>